body {
    background: rgba(0,0,0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
}
.checkout-wrapper {
    margin: auto;
    width: 50%;
    top: 15%;
    left: 25%;
    position: fixed;
    border: 1px solid black;
    border-radius: 10px;
    background: #fff;
}
.title {
    text-align: center; 
    font-size: 30px; 
    border-bottom: 1px solid black; 
    padding: 5px;
}
.secondary {
    border-bottom: 1px solid black;
    height: 37px;
}
.secondary-title {
    font-size: 25px; 
    padding: 5px;
}
.left {
    float: left; 
    margin-left: 10px;
    float: initial;
    position: relative;
}
.right {
    float: right; 
    margin-right: 10px;
    position: relative;
}
.table-set {
    display: table;
    border: none;
    display: inline-block;
    width: 100%;
    /* float: left; */
}
.cell {
    border-right: none;
    float: left;
    display: table-cell;
}
.checkout {
    padding: 10px;
    font-size: 12px;
}
.checkout-button {
    width: 40%;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    color: rgb(59, 204, 204);
    background-color: #333;
    border: none;
    cursor: pointer;
}