body {
  background: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
}

.pic-back {
  top: 20%;
  opacity: 0.6;
  background: url("./UI_figma/homepageBackground-cut.jpeg");
  height: 40%;
  /* transform: rotate(-35.73deg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0px;
  top: 85px;

  mix-blend-mode: difference;
  filter: blur(4px);
}
.main {
  /* position: relative; */
  /* width: 1940px;
    height: 1623px; */

  background: #1f1f1f;
}
.nav-bar {
  position: absolute;
  background-color: #232323;
  /* left: 23px;
  top: 22px; */
}
.logo {
  position: absolute;
  width: 114px;
  height: 67px;
  /* left: 19px;
  top: 4px; */
}
.MIDIchef {
  position: absolute;
  width: 154px;
  height: 46px;
  left: 166px;
  top: 17px;
  /* font-family: Varela; */
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 46px;
  color: #ffffff;
}
.search-container {
  position: absolute;
  width: 678px;
  height: 33px;
  left: 342px;
  top: 20px;
  background: #373737;
  border-radius: 4px;
}
.search-icon {
  z-index: 1000;
  position: relative;
  width: 26px;
  height: 26px;
  left: 354px;
  top: 33px;
  color: rgba(128, 128, 128, 1);
}
.search-input {
  position: relative;
  background: rgba(128, 128, 128, 1);
}
.nav-explore-button {
  position: absolute;
  width: 76px;
  height: 31px;
  left: 1180px;
  top: 22px;
  /* font-family: Varela; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}
.nav-create-button {
  position: absolute;
  width: 76px;
  height: 31px;
  left: 1300px;
  top: 22px;
  /* font-family: Varela; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}
.nav-kitchen-button {
  position: absolute;
  width: 76px;
  height: 31px;
  left: 1430px;
  top: 22px;
  /* font-family: Varela; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}
.signin {
  position: absolute;
  width: 146px;
  height: 47px;
  /* right: 20px; */
  left: 1530px;
  top: 22px;
  background: #59dfdd;
  border-radius: 20px;

  /* font-family: Work Sans; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

/* a:hover {
    background-color: rgb(119, 108, 108);
} */
a,
u {
  text-decoration: none;
}

.outer-1 > * {
  margin-top: 35%;
  display: inline-block;
  vertical-align: middle;
}

.outer-2 > * {
  margin-top: 5%;
  display: inline-block;
  vertical-align: middle;
}
.track-1 {
  position: relative;
  margin-left: 9%;
  margin-right: 5%;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background: url("./UI_figma/rainbow cat.png");
  background-size: cover;
}
.track-2 {
  position: relative;
  margin-right: 5%;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background-image: url("./UI_figma/dog-tr.jpeg");
  background-size: cover;
}

.track-3 {
  position: relative;
  margin-right: 5%;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background-image: url("./UI_figma/sign.jpeg");
  background-size: cover;
}

.track-4 {
  position: relative;
  margin-left: 9%;
  margin-right: 5%;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background-image: url("./UI_figma/dog-tr.jpeg");
  background-size: cover;
}
.track-5 {
  position: relative;
  margin-right: 5%;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background-image: url("./UI_figma/laptop.png");
  background-size: cover;
}

.track-6 {
  position: relative;
  margin-right: 5%;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background-image: url("./UI_figma/no\ sleep\ tonight.jpeg");
  background-size: cover;
}

.info {
  position: absolute;
  top: 24px;
  left: 40px;
  color: #59dfdd;

  z-index: 10;
}
.song-name {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.user {
  text-decoration: none;
  font-size: 25px;
  color: rgb(59, 204, 204);
}
a.song-name:hover {
  color: #ff92d2;
}
a.user:hover {
  color: #ff92d2;
}

.songinfo {
  position: absolute;
  top: 20px;
  left: 25px;
  right: 20px;
  width: 400px;
  height: 120px;
  background-color: #4d4c4c;
  border-radius: 10px;
  filter: opacity(0.5);
  z-index: 5;
}
.layer {
  position: absolute;
  top: 0px;
  width: 450px;
  height: 300px;
  border-radius: 10%;
  background-color: #302f2f;

  filter: opacity(0.6);
  z-index: 1;
}

.play-btn {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 50px;
  height: 50px;
  color: white;
  z-index: 5;
}
.song-time {
  position: absolute;
  top: 165px;
  left: 110px;
  color: white;
  z-index: 5;
}
.algo {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.price {
  position: absolute;
  top: 170px;
  left: 350px;
  color: white;
  z-index: 5;
}
.favorited {
  position: absolute;
  top: 235px;
  left: 45px;
  width: 40px;
  height: 40px;
  color: white;
  z-index: 5;
}
.fav-count {
  position: absolute;
  top: 230px;
  left: 113px;
  font-size: 18px;
  color: white;
  z-index: 5;
}
.play-icon {
  position: absolute;
  top: 240px;
  left: 160px;
  width: 35px;
  height: 35px;
  z-index: 5;
}
.play-count {
  position: absolute;
  top: 230px;
  left: 210px;
  font-size: 18px;
  color: white;
  z-index: 5;
}
.cal {
  position: absolute;
  top: 238px;
  left: 275px;
  width: 35px;
  height: 35px;
  color: white;
  z-index: 5;
}
.day {
  position: absolute;
  top: 230px;
  left: 330px;
  font-size: 18px;
  color: white;
  z-index: 5;
}
