.profile-logo {
    display: inline;
    float: left;
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
.profile-description{
    display: inline;
    left: 50%;
}
.profile-follow{
    display: inline;
    float: right;
    bottom: 8px;
    right: 16px;
}
.profile{
    margin: auto;
    height: 200px; 
}