body {
  background-color: #242121;
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.naivebar-n {
  width: 100%;
  height: fit-content;
  background-color: #292828;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  /* position: static; */
  width: 100px;
  height: 55px;
  display: block;
  float: left;
  text-decoration: none;
}

.MIDIchef {
  color: white;
  float: left;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  vertical-align: middle;
}

.search-bar {
  display: inline-block;
  padding: 10px;
}

.search-bar input {
  /* display: flex; */
  background: #444444;
  border-radius: 5px;
  margin: 0;
  width: 400px;
  font-size: 18px;
  border: 0;
  color: white;
  padding: 5px;
}

ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* li {
  display: inline-block;
} */

.urlbar a {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.urlbar a:hover,
.urlbar a:active {
  color: #59dfdd;
  text-decoration: none;
}

.Sign {
  background: #59dfdd;
  border-radius: 10px;
  /* padding: 2px; */
}

.Sign a {
  color: #292828;
}

@media only screen and (min-width: 700px) {
  /* #menu {
    display: none;
  } */
  #navbar {
    height: max-content;
    /* line-height: 50px; */
  }
  /* nav {
    display: block !important;
  }
  nav li {
    display: inline-block;
  } */
  /* #search-bar input {
        height: 25px;
        padding: 10px;
        margin: 15px 0 0 0;
    } */
}
