.create{
    max-width:400px;
    margin: 0 auto;
    text-align: center;
}
.create label{
    text-decoration-color: white;
    text-align: left;
    display: block;
}

/* .create h1{
    
} */

.create input, .create textarea {

    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px soild #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    background: #59DFDD;
    color: ;
}