.container{
    display:flex;
    min-height: 100%;

}

.picture{
    height:260px;
    width:260px;
    border-radius: 5px;
    object-fit:cover;

}
.table-right{
    background-color: #444444;
    height:260px;
    border-radius: 5px;
    width:360px;
    display:table;
}
.title{
    color: white;
    font-size: 2rem;
    text-align: left;
    padding-top:30px;
    padding-left:40px;
}
.creater{
    color: #777777;
    font-size: 1rem;
    text-align: left;
    padding-top:15px;
    padding-left:40px;
}
.play{
    height:50px;
    width:50px;
    object-fit:cover;
    margin-left: 40px;
    margin-top: 15px;
}

.playbar{
    display: flex;
}
.time{
    color: white;
    margin-left: 12px;
    margin-top: 31px;
    text-align: left;
}
.algo{
    height:30px;
    width:30px;
    object-fit:cover;
    margin-left: 50px;
    margin-top: 30px;
}
.price{
    color: white;
    margin-left: 12px;
    margin-top: 31px;   
    text-align: left;
}
.heart{
    height:30px;
    width:30px;
    object-fit:cover;
    margin-left: 25px;
    margin-top: 30px;
}
.play1{
    height:30px;
    width:30px;
    object-fit:cover;
    margin-left: 25px;
    margin-top: 30px;
}
.edit{
    height:30px;
    width:30px;
    object-fit:cover;
    margin-left: 25px;
    margin-top: 30px;
}
.music_detail{
    display:flex;
}
.music_info{
    padding-left:10px;
    padding-top: 33px;
    color:white;
}